@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    --header-height: 3.5rem;
  
    --first-color: hsl(28, 88%, 62%);
    --first-color-alt: hsl(28, 84%, 58%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --text-color-light: hsl(0, 0%, 65%);
    --black-color: hsl(0, 0%, 6%);
    --body-color: hsl(0, 0%, 6%);
    --container-color: hsl(0, 0%, 10%);
  
    --body-font: "Montserrat", sans-serif;
    --second-font: "Dancing Script", cursive;
}  
body{
    background: var(--black-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
    /* Optionally, you can add background color, box-shadow, etc. */
    background-color: #fff; /* Example background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box-shadow */
}

.carosel{
    /* image background */
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--body-color);
    font-family: var(--body-font);
    color: var(--text-color);
    height: 720px;

}

/* change navbar background color */

.navbar-nav .nav-link{
    color: var(--title-color);
}

.navbar-nav .nav-link:hover  {
    color: var(--first-color);
}


.navbar-brand{
    color: var(--title-color);
}


.navbar-text{
    font-family: var(--second-font);
    font-size: 1.5rem;
    color: var(--first-color);
}

.dropdown-menu .dropdown-item:hover {
    background-color: white; /* Change to your desired hover background color */
    color: var(--first-color) /* Change to your desired hover text color */
}

/* adjust the home bread image size */

.carosel img {
    width: 25%;
}

.carosel .action-text h1{
    font-family: var(--second-font);
    font-size: 6rem;
    color: var(--title-color);
}

.carosel .action-text .button{
    outline: none;
    outline-color: var(--first-color);
    color: var(--black-color);
    background-color: var(--first-color);
    transform: skew(-10deg);
    border: 1px solid var(--first-color);
    font-family: var(--body-font);
    font-weight: bold;
    font-size: smaller;
}

.carosel .action-text img {
    width: 4%;
    margin-top: 3rem;
    margin-left: 11rem;
    position: absolute;
    
}

.cookie-bread{

}

.grain-bread{

}

.butter-bread{

}

.nb{
    align-self: center;
}

.layer h1{
    font-family: var(--second-font);
    /* align-items: center; */
    color: var(--title-color);
    text-align: center;
}

.layer p{
    font-family: var(--body-font);
    color: var(--text-color);
}
.layer .nb{
    margin-top: 5rem;
    align-items: center;
    margin-bottom: 0;
}

.cookies{
    /* margin: 10rem; */
    margin-top: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
}
.cookies img{
    width: 55%;
}
/* 
.btn{
    color: var(--first-color);
} */